body {
  min-height: 100%;
  display: grid;
  row-gap: 30px;
  grid-template-rows: 75px auto 50px;
  grid-template-columns: 20% 60% 20%;
}
html {
  height: 100%;
}

.account {
  color: white;
  text-decoration: unset;
}

.dropdown-item {
  display: block;
}

.content {
  grid-column: 2;
  grid-row: 2;
}

.header {
  align-items: center !important;
  padding: 0% 20%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
}

.footer {
  padding: 0% 20%;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #f5f5f5;
}
