{% extends 'base.html' %} {% block links %}
<title>Пользовательское соглашение</title>
<link href="/static/terms.css" rel="stylesheet" />
{% endblock %} {% block content %}
<h1>Пользовательское соглашение</h1>
<ol>
  <li>
    <h4>Термины и определения</h4>
    <p>
      Ниже приведенные термины используются в следующих значениях: Wbonline —
      сайт, размещенный в сети Интернет по адресу
      <a href="https://wbonline.ru">https://wbonline.ru</a> или любой другой
      адрес в домене
      <a href="https://wbonline.ru">https://wbonline.ru</a> Пользователь
      (Клиент) — физическое и/или юридическое лицо, принявшее условия настоящей
      оферты и/или пользующееся Wbonline. Услуга — подключение на определенный
      срок функциональных возможностей Wbonline, в соответствии с Тарифами и
      условиями настоящей оферты. Аккаунт (Учетная запись) — уникальная учётная
      запись в Wbonline, позволяющая зарегистрированному Пользователю
      использовать все её доступные функции. Тариф — совокупность функционала,
      предоставляемого Пользователю в течение оплаченного периода использования.
      IP-адрес — уникальный сетевой адрес узла в компьютерной сети, с которого
      идет подключение Пользователя к MarketPapa.
    </p>
  </li>

  <li>
    <h4>Общие положения</h4>
    <p>
      2.1.Wbonline предоставляет Пользователям доступ к данным Wbonline на
      условиях платной подписки.
    </p>
    <p>
      2.2.Пользователь понимает и соглашается с тем, что Wbonline не берет на
      себя ответственность за своевременность, удаление, неверную доставку или
      невозможность хранения сообщений любому пользователю или персональных
      настроек.
    </p>
    <p>
      2.3.Пользователь несёт ответственность за получение доступа к Wbonline, и
      понимает, что использование Wbonline может быть сопряжено со сборами
      третьих лиц (например, оплата услуг Интернет-провайдера и т.п.).
      Пользователь сам целиком несёт ответственность за эти расходы. Кроме того,
      Пользователь несёт ответственность за всё оборудование, необходимое
      Пользователю для доступа к Сервису.
    </p>
  </li>

  <li>
    <h4>Оплата услуг и отчетность</h4>
    <p>
      3.1.Стоимость Услуг определяется в соответствии с Тарифами на
      использование.
    </p>
    <p>
      3.2.Wbonline вправе в любое время в одностороннем порядке изменять Тарифы.
    </p>
    <p>3.3.Доступ к Сервису оплачивается Клиентом на условиях предоплаты.</p>
    <p>
      3.4.Датой оказания Услуг Исполнителем является дата осуществления
      подключения (продления) на определенный срок функциональных возможностей
      Wbonline.
    </p>
    <p>
      3.5.В течение пяти рабочих дней с момента оказания Услуг (подключения на
      определенный срок функциональных возможностей Wbonline, в соответствии с
      Тарифами и условиями настоящей оферты) Wbonline формирует односторонний
      Акт об оказанных услугах в соответствии со стоимостью оказанных услуг.
    </p>
    <p>
      3.6.Услуги считаются оказанными надлежащим образом и принятыми
      Пользователем в указанном в Акте объеме, если в течение пяти рабочих дней
      с момента выставления Акта Wbonline не получил от Клиента мотивированных
      письменных возражений.
    </p>
    <p>
      3.7.По истечении срока, указанного выше (пяти рабочих дней), претензии
      Пользователя относительно недостатков Услуг, в том числе по количеству
      (объему), стоимости и качеству не принимаются.
    </p>
    <p>
      3.8.Расходы банка Клиента, в том числе банковская комиссия, по
      перечислению Клиентом денежных средств по данному Договору возлагаются на
      Пользователя.
    </p>
  </li>

  <li>
    <h4>Условия использования сервиса</h4>
    <p>
      4.1.Регистрация в Wbonline осуществляется Клиентом самостоятельно путем
      указания своих Учетных данных на странице регистрации. Элементами,
      идентифицирующими Клиента в Wbonline, являются адрес электронной почты и
      пароль, указанные при регистрации (учетные данные).
    </p>
    <p>
      4.2.Адрес электронной почты и пароль, используемые Клиентом для доступа к
      Wbonline, Исполнителем не восстанавливаются. Восстановление пароля
      осуществляется Клиентом самостоятельно.
    </p>
    <p>
      4.3.Клиент несет полную ответственность за действия и/или бездействие,
      приведшие к разглашению, потере, краже и т.п. его учетных данных и иной
      информации, индивидуализирующей Клиента, а также за любые действия и/или
      бездействие третьих лиц, использующих учетные данные Клиента. Исполнитель
      не несет ответственности за вышеуказанные действия Клиента и/или третьих
      лиц, использующих его учетные данные.
    </p>
    <p>
      4.4.При использовании Wbonline запрещаются любые действия, направленные на
      получение несанкционированного доступа к ресурсам серверов Wbonline,
      учетным и иным данным других клиентов.
    </p>
    <p>
      4.5.Использование сервиса должно осуществляться Клиентом только для
      законных целей и законными способами с учетом законодательства РФ,
      Европейского союза и США.
    </p>
    <p>
      4.6.Клиент обязуется не наносить ущерб программной оболочке, техническим и
      программным средствам, узловым машинам Сервиса Wbonline и третьих лиц.
    </p>
    <p>
      4.7.Клиент обязуется соблюдать авторские права на предоставляемые Wbonline
      и и/или третьими лицами программное обеспечение и документацию.
    </p>
    <p>
      4.8.Клиент обязуется не предоставлять свои Учетные данные третьим лицам.
    </p>
  </li>
  <li>
    <h4>Запрещенные действия</h4>
    <p>
      5.1.Пользователям Wbonline запрещается вводить для анализа и поиска любые
      данные, имеющие порнографическое содержание; описание запрещенных в РФ
      товаров и услуг; информацию, способствующую развитию религиозных
      конфликтов.
    </p>
    <p>
      5.2.В случае обнаружения подобных запросов или доменов, связанных с
      Аккаунтом, Сервис имеет право незамедлительно и необратимо заблокировать
      Аккаунт Пользователя.
    </p>
  </li>
  <li>
    <h4>Блокировка Аккаунта</h4>
    <p>
      Сервис Wbonline оставляет за собой право блокировки Аккаунта в случае
      возникновения следующих ситуаций: Пользователь присылает более 1 запроса к
      функциональным страницам в 5 секунд на протяжении 30 секунд; Работа в
      сервисе с использованием одного Аккаунта ведется более чем с четырех IP
      адресов в течение 3 дней; Работа в сервисе с использованием одного
      Аккаунта ведется с двух и более IP адресов одновременно; Работа в сервисе
      с использованием одного Аккаунта ведется из двух и более браузеров
      одновременно;
    </p>
  </li>
  <li>
    <h4>Конфиденциальность</h4>
    <p>
      7.1.Любая личная или общедоступная информация, которую Пользователь
      передает Wbonline, является конфиденциальной. Никакие данные не будут
      переданы, проданы или использованы совместно с третьими лицами. Wbonline
      не агрегирует и не собирает никаких данных о Пользователях, кроме данных
      Учетных записей.
    </p>
    <p>
      7.2.Всю платежную информацию Пользователь вводит на страницах платежных
      систем и агрегаторов, эта информация не передается и не обрабатывается
      Wbonline, Исполнитель не несет ответственности за сохранность этих данных.
    </p>
  </li>
  <li>
    <h4>Срок действия и прекращение</h4>
    <p>
      8.1.Настоящий договор вступает в силу с момента начала использования или
      регистрации Пользователя в Wbonline и действует до момента удаления
      Аккаунта Пользователя из Wbonline.
    </p>
  </li>
  <li>
    <h4>Форс-мажор</h4>
    <p>
      Ни одна из Сторон не будет нести ответственности за неисполнение или
      задержку в исполнении каких-либо обязательств по настоящему Договору, за
      исключением обязательств оплаты в случае, если это неисполнение или эта
      задержка в исполнении вызваны обстоятельствами вне сферы контроля
      соответствующей Стороны, включая стихийные бедствия, войны,
      террористические акты, гражданские беспорядки, трудовые конфликты и т.д.
    </p>
  </li>
</ol>
{% endblock %}
